*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea
.DS_Store
/build
build/
/apk
/captures
.externalNativeBuild
/pytools/.idea
/Pipfile.lock
/temp
.project
.classpath
.git
/qa-config.properties
/release-config.properties
/app/class_files.txt
/sdk-demo/qa-config.properties
/sdk/qa-config.properties
/sdk/class_files.txt
/sdk-demo/class_files.txt
